<div xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <h4 ng-bind='title'></h4>
    </div>
    <div class="modal-body" style="overflow-y:inherit;position: absolute; bottom: 75px;left: 15px;right: 15px;top:75px;max-height: inherit;">
        <div ng-show="processing">
            <i class="fa fa-spinner fa-spin" style="margin: 3px"></i>
            <span>Loading...</span>
        </div>
        <div ng-show="!processing" style="position: absolute; bottom: 0px;left: 0px;right: 0px;top:0px; display: -webkit-flex;-webkit-flex-direction:column">

            <div ng-grid="gridOptions" class="gridStyle" style="-webkit-flex:1" > </div>
            <div style="height: 65%;" ng-show="showDocBrowser()" class="docBrowser">
                <div ng-bind-html="doc()" style="padding: 10px" ></div>
            </div>
        </div>

    </div>
    <div class="modal-footer" style="position: absolute; bottom: 0px;left: 0px;right: 0px">
        <a class="btn" ng-click="close()" ng-show="!processing">Close</a>
        <a class="btn" ng-disabled="processing" ng-show="processing">Searching...</a>
    </div>
</div>
