<div style="display:-webkit-flex;-webkit-flex-direction:column;">
    <div style="-webkit-flex:1" class="studyNavigatorHeader">
        <i class="fa fa-spinner fa-spin pull-left" style="margin: 3px;margin-top: 7px;" ng-if="processing"></i>

        <div class="pull-right" style="margin-right: 5px;vertical-align: middle" ng-if="syncing">
            <span style="font-style: italic;font-size: 0.8em"></span>
            <i class="fa fa-spinner fa-spin" style="margin: 3px;margin-top: 7px;"></i>
        </div>
        <div style="padding: 5px">
            <span  draggable="{{ selectedItems.length>0 }}" ui-event="{dragstart:'dragStart($event)'}" ng-style="getCursorStyle()">
                <i class="fa fa-user-md" ></i>
                <span>Chart Review</span>
            </span>

            <div style="float: right" class="dropdown">
                <a href="#" class="dropdown-toggle sr-only" data-toggle="dropdown">
                    {{selectedItemCaption}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" style="right: -4px;left: inherit">
                    <li data-ng-repeat="item in options() | orderBy:'caption'">
                        <a tabindex="-1" data-ng-click="selectItem(item)">{{item.caption}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div style="height: 200px">
        <div ng-show="gridData.length==0 && selectedItem && !processing" style="margin: 5px">No Data Found</div>
        <div ng-grid="gridOptions" class="gridStyle" ng-show="gridData.length>0"></div>
    </div>
    <div style="">

    </div>


    <div style="-webkit-flex:1;overflow: auto; border-top: 1px solid #9a9a9a" class="chartReviewDoc"
         data-ng-show="selectedRow()!=null && docHTML!=null">
        <div ng-bind-html="docHTML" style="padding: 10px"></div>
    </div>
</div>