<div>
    <div class="modal-header">
        <h4 ng-bind='title'></h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="$parent.form" ng-submit="save()">
            <div class="control-group">{{data.description}}</div>
            <div class="signaturePad">
                <canvas width="850" height="257" signature-pad signature-delegate="data"></canvas>
            </div>
            <div class="control-group">
                <div style="margin-left: 15px">
                    <span>Printed Name:</span>
                    <input type="text" required placeholder="Printed Name" ng-model="data.printedName">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <alert style="text-align:left" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            {{alert.msg}}
        </alert>
        <button style="float: left;" class="btn" ng-click="clear()" ng-hide="processing">Clear</button>

        <button class="btn btn-primary" ng-disabled="form.$invalid  || processing" ng-click="save()">
            {{actionButtonTitle}}
        </button>
        <button class="btn" ng-click="close()" ng-hide="processing">Cancel</button>
    </div>
</div>