<div fade-in="" class="coloredBackground" style="position: absolute; top: 40px; left: 0px; right: 0px; bottom: 0px; opacity: 1;" class="ng-scope">
    <div style="text-align: center;margin-left: auto; margin-right:auto;padding: 20px; margin-top: 100px; " class="container">
        <img src="../images/ResearchDocWhite.png">
    </div>
    <div style="text-align: center;margin-left: auto; margin-right:auto;padding: 20px; margin-top: 20px" class="container">
        <div style="display: inline-block; margin-left: 100px" class="color:white">
            <img src="../images/heart institute logo vertical white.png">
        </div>
        <div style="width: 50px;display: inline-block"></div>
        <div style="display: inline-block">
            <img src="../images/homerWarnerCenterVertical.png">
        </div>
    </div>
</div>