<div>
    <div class="modal-header">
        <h4 ng-bind='title'></h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="$parent.form" ng-submit="close()">
            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <textarea ng-model="comments" rows="7" style="width:80%" ></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="close()" ng-hide="processing">Close</button>
    </div>
</div>