<div style="display:-webkit-flex;-webkit-flex-direction:column;-webkit-flex:1;">
	<div high-chart chart-params="selectedItem" chart-id="'participantsOverTime'" style="-webkit-flex:1;margin-left: 5px; margin-bottom: 5px; border-radius: 2px; border: 1px solid #e0e0e0"></div>
	<div high-chart chart-params="selectedItem" chart-id="'participantsByStatus'" style="-webkit-flex:1;margin-left: 5px; margin-bottom: 0px; border-radius: 2px; border: 1px solid #e0e0e0"></div>
</div>
<div style="display:-webkit-flex;-webkit-flex-direction:column;-webkit-flex:1;">
	<div high-chart chart-params="selectedItem" chart-id="'pendingApprovals'" style="-webkit-flex:1;margin-left: 5px; margin-bottom: 5px; border-radius: 2px; border: 1px solid #e0e0e0"></div>
	<div high-chart chart-params="selectedItem" chart-id="'numberOfElements'" style="-webkit-flex:1;margin-left: 5px; margin-bottom: 0px; border-radius: 2px; border: 1px solid #e0e0e0"></div>
</div>